body {
  font-size: 18pt;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/background-img.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  line-height: 150%;
  letter-spacing: 4px;
}

h5 {
  color: black;
}

h1,
h2 {
  font-family: "Stardos Stencil", cursive;
  text-transform: capitalize;
}

.card p {
  color: white;
  font-size: 14pt;
}

.jumbotron {
  background: none !important;
  padding-bottom: 0 !important;
}

.jumbotron p {
  font-size: 18pt;
  font-weight: bold;
}

button {
  background-color: #d9b9a7 !important;
  font-weight: 900 !important;
  font-size: 16pt !important;
  text-transform: capitalize;
}

.card-footer {
  color: #d9b9a7 !important;
  font-size: 12pt;
  line-height: 120%;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

#separator {
  border: 0;
  height: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

a,
h4 {
  color: #d9b9a7 !important;
}

.card {
  background-color: #736868 !important;
}

#nasa-paragraph {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

li {
  color: #d9b9a7 !important;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: #d9b9a7 !important;
}
.back-to-top i {
  color: black
}

input {
  text-transform: capitalize;
}

footer{
  border-top:3px red solid!important;
}
